<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>
<body>
<div
    <div th:switch="${movies}" class="container">
        <h2 th:case="null">No movies yet!</h2>
        <div th:case="*">
            <img src="Afbeelding1-1.jpg" style="width:100%" />
            <h2>Movies</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Actors</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.name}"></td>
                    <td th:text="${movie.year}"></td>
                    <td th:text="${movie.actors}"></td>
                    <td th:text="${movie.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>